<div class="main-page">
  <mat-card class="main-page-card">
    <mat-card-header>
      <mat-card-title class="main-page-card-title">Welcome to myFlix!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-actions class="main-page-card-actions">
        <button
          mat-raised-button
          (click)="openUserRegistrationDialog()"
          style="width: 90px;"
          color="primary"
        >
          Sign Up
        </button>
        <button
          mat-raised-button
          (click)="openUserLoginDialog()"
          style="margin: 0; width: 90px;"
          color="primary"
        >
          Login
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>