@use '@angular/material' as mat;
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// custom theming
$mat-myFlix-primary: (
    50 : #fbece4,
    100 : #f5d0bb,
    200 : #efb08e,
    300 : #e99060,
    400 : #e4793e,
    500 : #df611c,
    600 : #db5919,
    700 : #d74f14,
    800 : #d24511,
    900 : #ca3309,
    A100 : #fff7f5,
    A200 : #ffccc2,
    A400 : #ffa28f,
    A700 : #ff8d75,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-myFlix-accent: (
    50 : #e0f2f1,
    100 : #b3dedd,
    200 : #80c8c6,
    300 : #4db2af,
    400 : #26a29d,
    500 : #00918c,
    600 : #008984,
    700 : #007e79,
    800 : #00746f,
    900 : #00625c,
    A100 : #92fff7,
    A200 : #5ffff3,
    A400 : #2cfff0,
    A700 : #13ffee,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($mat-myFlix-primary);
$accent: mat-palette($mat-myFlix-accent);

// $theme: mat-light-theme($primary, $accent);
$theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);

html, body { height: 100%; }

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #1C1B1B;
}
