<app-navbar></app-navbar>

<div class="profile-page">
  <div class="profile-info">
    <h1>Your Profile</h1>

    <!-- section with user information -->
    <mat-card class="user-info-card">
      <mat-card-header>
        <mat-card-title class="user-info-card-title">
          Your Info
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="user-info-card-content">
        <p><b>Username: </b>{{this.user.Username}}</p>
        <p><b>Email: </b>{{this.user.Email}}</p>
        <p><b>Birthday: </b>{{this.user.Birthday}}</p>
      </mat-card-content>
    </mat-card>

    <!-- section with form for updating user information -->
    <mat-card class="update-user-card">
      <mat-card-header>
        <mat-card-title class="update-user-card-title">
          Edit Profile
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form class="update-user-card-form">
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="userData.Username"
              type="text"
              placeholder="Username"
              name="Username"
            >
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="userData.Password"
              type="password"
              placeholder="Password"
              name="Password"
            >
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="userData.Email"
              type="email"
              placeholder="Email"
              name="Email"
            >
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="userData.Birthday"
              type="date"
              placeholder="Birthday"
              name="Birthday"
            >
          </mat-form-field>
        </form>
      </mat-card-content>

      <mat-card-footer style="margin: 0;">
        <mat-card-actions class="update-user-card-actions">
          <div>
            <button
              mat-raised-button
              color="primary"
              (click)="updateUserInfo()"
            >
              Update
            </button>
          </div>
          <div>
            <button
              mat-button
              color="accent"
              (click)="deleteUser()"
            >
              Delete Account
            </button>
          </div>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  </div>

  <!-- favorite movies section -->
  <div class="favorites-list">
    <h1>Favorite Movies</h1>
    <p *ngIf="(favoriteMovies.length === 0)">
      You have no favorite movies yet.
    </p>

    <!-- movie card -->
    <div class="movie-list">
      <mat-card *ngFor="let movie of favoriteMovies; let i = index" class="movie-card">
        <mat-card-header>
          <mat-card-title class="movie-card-title">
            {{movie.Title}}
          </mat-card-title>
          <mat-card-subtitle>{{movie.ReleaseYear}}</mat-card-subtitle>
          <button
            mat-icon-button
            color="primary"
            (click)="removeFavoriteMovie(movie._id, movie.Title)"
          >
            <mat-icon class="remove-favorite-btn">favorite</mat-icon>
          </button>
        </mat-card-header>
    
        <mat-card-content>
          <img
            src="{{movie.ImagePath}}"
            alt={{movie.Title}}
            class="movie-card-image"
          />
        </mat-card-content>
    
        <mat-card-footer style="margin: 0;">
          <mat-card-actions class="movie-card-actions">
            <div>
              <button
                mat-button
                color="primary"
                class="movie-card-btns"
                (click)="openDirectorDialog(
                  movie.Title,
                  movie.Director.Name,
                  movie.Director.Bio,
                  movie.Director.BirthYear)"
              >
                Directed by {{movie.Director.Name}}
              </button>
            </div>
            <div>
              <button
                mat-button
                color="primary"
                class="movie-card-btns"
                (click)="openGenreDialog(
                  movie.Title,
                  movie.Genre.Name,
                  movie.Genre.Description)"
              >
                Genre: {{movie.Genre.Name}}
              </button>
            </div>
            <div>
              <button
                mat-button
                color="primary"
                class="movie-card-btns"
                (click)="openSynopsisDialog(
                  movie.Title,
                  movie.Description)"
              >
                Synopsis
              </button>
            </div>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>