<app-navbar></app-navbar>

<div class="profile-page">
  <div class="profile-info">
    <h1 style="
      width: calc(80vw + 2rem);
      max-width: 1200px;"
    >
      Your Profile
    </h1>

    <!-- section with user information -->
    <mat-card class="user-info-card">
      <mat-card-header>
        <mat-card-title class="user-info-card-title">
          <h2>Your Info</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="user-info-card-content">
        <div style="margin-bottom: 1rem;">
          <p>Username: <span id="value">{{this.user.Username}}</span></p>
        </div>
        <div style="margin-bottom: 1rem;">
          <p>Email: <span id="value">{{this.user.Email}}</span></p>
        </div>
        <div style="margin-bottom: 1rem;">
          <p>Birthday: <span id="value">{{this.user.Birthday | date}}</span></p>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- section with form for updating user information -->
    <mat-card class="update-user-card">
      <mat-card-header>
        <mat-card-title class="update-user-card-title">
          <h2>Edit Profile</h2>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form class="update-user-card-form">
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="userData.Username"
              type="text"
              placeholder="Username"
              name="Username"
            >
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="userData.Password"
              type="password"
              placeholder="Password"
              name="Password"
            >
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="userData.Email"
              type="email"
              placeholder="Email"
              name="Email"
            >
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="userData.Birthday"
              type="date"
              placeholder="Birthday"
              name="Birthday"
            >
          </mat-form-field>
        </form>
      </mat-card-content>

      <mat-card-footer style="margin: 0;">
        <mat-card-actions class="update-user-card-actions">
          <div style="margin-bottom: 16px;">
            <button
              mat-raised-button
              color="primary"
              (click)="updateUserInfo()"
            >
              Update
            </button>
          </div>
          <mat-divider style="border-top-width: 3px;"></mat-divider>
          <div style="
            margin-top: 48px;
            text-align: center;
            color: #A6A6A6;">
            <p>
              Danger zone!<br>
              Once you delete your account, there is no going back.
            </p>
            <button
              mat-stroked-button
              color="accent"
              (click)="deleteUser()"
            >
              Delete Account
            </button>
          </div>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  </div>

  <!-- favorite movies section -->
  <div class="favorites-list">
    <h1 style="
      width: calc(80vw + 2rem);
      max-width: 1200px;
      margin-bottom: 3rem;"
    >
      Favorite Movies
    </h1>
    <p 
      *ngIf="(favoriteMovies.length === 0)"
      style="color: #fff; width: 100%; max-width: calc(80vw + 2rem);"
    >
      You have no favorite movies yet.
    </p>

    <!-- movie card -->
    <div class="movie-list" style="max-width: 1200px;">
      <mat-card *ngFor="let movie of favoriteMovies; let i = index" class="movie-card">
        <mat-card-header>
          <mat-card-title class="movie-card-title">
            {{movie.Title}}
          </mat-card-title>
          <mat-card-subtitle>{{movie.ReleaseYear}}</mat-card-subtitle>
          <button
            mat-icon-button
            color="accent"
            (click)="removeFavoriteMovie(movie._id, movie.Title)"
          >
            <mat-icon class="remove-favorite-btn">favorite</mat-icon>
          </button>
        </mat-card-header>
    
        <mat-card-content>
          <img
            src="{{movie.ImagePath}}"
            alt={{movie.Title}}
            class="movie-card-image"
          />
        </mat-card-content>
    
        <mat-card-footer style="margin: 0;">
          <mat-card-actions class="movie-card-actions">
            <div>
              <button
                mat-button
                color="primary"
                class="movie-card-btns"
                (click)="openDirectorDialog(
                  movie.Title,
                  movie.Director.Name,
                  movie.Director.Bio,
                  movie.Director.BirthYear)"
              >
                Directed by {{movie.Director.Name}}
              </button>
            </div>
            <div>
              <button
                mat-button
                color="primary"
                class="movie-card-btns"
                (click)="openGenreDialog(
                  movie.Title,
                  movie.Genre.Name,
                  movie.Genre.Description)"
              >
                Genre: {{movie.Genre.Name}}
              </button>
            </div>
            <div>
              <button
                mat-button
                color="primary"
                class="movie-card-btns"
                (click)="openSynopsisDialog(
                  movie.Title,
                  movie.Description)"
              >
                Synopsis
              </button>
            </div>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>